{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h2>All published videos</h2>
    {% for video in videos %}
        <p style="font-weight: bold">Title :{{ video.title }}</p>
        <p>User :<a href="{{ path('profile', {'id': video.user.id}) }}">{{ video.user.email }}</a></p>
        <p>Category :<a href="{{ path('category_videos',{'title': video.category.title}) }}">{{ video.category.title }}</a></p>
        <p><a href="{{ path('video_details', {'id': video.id}) }}">Details</a></p>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and video.user.id == userLogged.id %}
            <p><a href="{{ path('video_edit', {'id': video.id}) }}">Edit</a></p>
            <p><a href="{{ path('video_remove', {'id': video.id}) }}">Delete</a></p>
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}
